.single-film {

    #content {

        header {
            border-bottom: 5px solid #cccc00;
        }

        h1.entry-title {
            margin-bottom: $ggw;
        }

        h2.film-title {
            font-size: 30px;
            line-height: 35px;
            padding-top: 0;
            margin-bottom: 0;
        }

        h3.realisateurs {
            padding-top: $ggw/3;
            font-size: 20px;
            line-height: 25px;
        }

        .cover {
            width: 160px;
            max-width: 100%;

            @media (max-width: $screen-xs-max) {
                display: block;
                margin: 0 auto !important;
                float: none !important;
            }
        }

        .entry-metas {
            font-weight: bold;
            margin-top: $ggw/2;
            margin-bottom: $ggw/2;

            > span {

                &:not(:first-child):not(.film-casting):before {
                    content: ' - ';
                }

                &.film-casting {
                    font-weight: normal;
                }
            }
        }
    }
}