.page-template-tpl-espace-adherents-films {

    #content {

        .orderby-area, .filters-area {
            clear: both;
            float: right;
            margin-top: 10px;

            h2, select, span {
                line-height: 12px;
                display: inline;
            }

            h2 {
                font-size: 15px;
            }

            span {
                font-size: 12px;
            }

            select {
                font-size: 12px;
                height: 2em;
            }

            input[type="submit"] {
                width: 75px;
            }
        }
    }
}

