
@font-face {
	font-family: 'JDDaring-Regular';
	src: url('../fonts/JDDaring-Regular.eot?#iefix') format('embedded-opentype'),  
		url('../fonts/JDDaring-Regular.woff') format('woff'), 
		url('../fonts/JDDaring-Regular.ttf')  format('truetype'), 
		url('../fonts/JDDaring-Regular.svg#JDDaring-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ArialRoundedMTBold';
	src: url('../fonts/ArialRoundedMTBold.eot?#iefix') format('embedded-opentype'),  
		url('../fonts/ArialRoundedMTBold.woff') format('woff'), 
		url('../fonts/ArialRoundedMTBold.ttf')  format('truetype'), 
		url('../fonts/ArialRoundedMTBold.svg#ArialRoundedMTBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
