
@font-face {
	font-family: 'IttyBittyNotebook';
	src: url('../fonts/IttyBittyNotebook.eot?#iefix') format('embedded-opentype'),  
		url('../fonts/IttyBittyNotebook.woff') format('woff'), 
		url('../fonts/IttyBittyNotebook.ttf')  format('truetype'), 
		url('../fonts/IttyBittyNotebook.svg#IttyBittyNotebook') format('svg');
	font-weight: normal;
	font-style: normal;
}
