
.search-form {

	.search-submit {

		.icon {
			height: 1em;
			top: -0.0625em;
			width: 1em;
		}
	}
}

.social-navigation {

	ul {
		text-align: center;
		margin-bottom: $grid-gutter-width/2;
	}
	
	a {

		&:hover {
			color: $gray-lighter;
		}
	}
}

.site-description {
	text-align: center;
	margin-bottom: $grid-gutter-width/2;

	span {
		font-weight: bold;
	}
}