
#masthead {
	background-color: #2d2d2d;

	.logo-container {
		position: relative;
	}
	
	.custom-logo-link {
		display: inline-block;
		padding-right: 0;
		width: 100%;
		text-align: center;
		@include opacity(1);
		
		&:hover {
			@include opacity(1);
		}

		img {
			max-height: 100%;
			max-width: 100%;
			height: auto;
			margin: 0 auto;

			@media (max-width: $screen-sm-max) {
				max-height: 200px;
			}
		}

		// &:first-child {
		// 	will-change: opacity;
		// 	@include smooth-transition(1.5s);
		// }

		// &:last-child {
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	will-change: opacity;
		// 	@include opacity(0);
		// 	@include smooth-transition(0.75s);

		// 	img {
		// 		@include filter(brightness(0) invert(1));
		// 	}
		// }

		// body.home & {

		// 	&:last-child {

		// 		img {
		// 			@include filter(brightness(0) invert(0.4));
		// 		}
		// 	}
		// }
	}

	.menu-top-menu-container {
		text-align: center;

		> .menu {
			@include flex-horizontal-align();

			> li {

				&:before,
				&:after {
					content: none !important;
				}

				> a {
					text-align: center;
				}
			}
		}
	}

	.navigation-header {
		background-color: #000;
		z-index: 100;
		width: 100%;
		font-size: 12px !important;
		position: relative;

		.header-navigation {
			a {
				color: #fff;
				text-transform: uppercase;
			}
		}

		ul {
			margin: 5px 0 5px 0 ;
		}

		li {
			display: inline;
			margin-left: 15px;
		}

		#header-menu {
			float: right;
		}
	}

	.navigation-top {
		z-index: 100;
		font-size: 14px !important;
		// position: relative;
		// bottom: inherit;
		// left: inherit;
		// right: inherit;
		
		.wrap {
			max-width: 100%;
			padding: $grid-gutter-width/2 0;
		}

		.main-navigation {

			a {
				color: #fff;
			}

			.current-menu-item,
			.current-menu-ancestor {

				> a {
					color: #ddd;
				}
			}

			> .menu-toggle {
				font-size: 14px;
				color: #fff;

				&:focus {
					outline: thin solid #fff;
				}


				@media (max-width: $screen-sm-max) {
					display: block;
				}

				@media (min-width: $screen-md-min) {
					display: none;
				}
			}

			> .container {

				@media (max-width: $screen-sm-max) {
					max-height: 0;
					overflow: hidden;
					@include transition(all 0.5s ease-out);
				}
			}

			&.toggled-on {

				> .container {

					@media (max-width: $screen-sm-max) {
						max-height: 2000px;
						overflow: hidden;
						@include transition(all 0.3s ease-in);
					}
				}
			}
		}

		li {

			li {

				&:hover {
					background-color: transparentize(#333, 0.6);
				}
			}
		}

		@media (max-width: $screen-sm-max) {
			position: inherit;

			.menu {
				display: block;

				li {
					display: block;
				}

				> li {
					border-bottom: 1px solid #fff;
				}

				.sub-menu {
					position: inherit;
					top: inherit;
					left: inherit;
					border: none;
					padding-left: $grid-gutter-width;
					display: block;
				}

				svg {
					display: none;
				}
			}
		}
	}

	.site-description {
		font-size: 30px;
		line-height: 35px;
		color: #fff;

		span {
			font-weight: 700;
		}
	}

	.custom-header {
		z-index: 10;
	}

	.header-slider-container {
		position: absolute;
		top: 30px;
		left: 0;
		bottom: 0;
		right: 0;

		.header-slider {
			position: relative;
			z-index: 1;
			height: 300px;

			> div {
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: 50% 50%;

				.copyright {
					font-size: 9px;
					position: absolute;
					bottom: $grid-gutter-width;
					right: $grid-gutter-width;
					color: #fff;
				}
			}
		}

		.bx-wrapper {
			border: none;
		}

		// &:after {
		// 	content: ' ';
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	bottom: 0;
		// 	right: 0;
		// 	z-index: 2;
		// 	background-color: transparentize(#fff, 0.2);
		// 	@include smooth-transition(0.5s);
		// }
	}

	.site-branding-text {
		// @include opacity(1);
		@include smooth-transition(0.7s);
	}

	&:hover {

		body & {			

			.site-branding-text {
				@include opacity(0);
			}

			// .custom-logo-link {

			// 	&:first-child {			
			// 		@include opacity(0);
			// 	}

			// 	&:last-child {			
			// 		@include opacity(1);
			// 	}
			// }

			// .header-slider-container {

			// 	&:after {
			// 		@include opacity(0);
			// 		@include smooth-transition(1s);
			// 	}
			// }	
		}
	}

	.news {
		background-color: transparentize(#4c4c4c, 0.3);
		border: 1px solid #fff;
		color: #fff;
		padding: $grid-gutter-width/2;
		position: relative;
		margin-left: -$grid-gutter-width;
		@include border-top-radius(4px);
		@include border-bottom-radius(4px);

		.wrapper {
			// height: 100%;
			// overflow: hidden;
			position: relative;

			.bx-wrapper {
				background-color: transparent;
				border: none;
				margin-bottom: 0;
				@include box-shadow(0 0 0); 
			}
	
			ul {
				margin: 0;
				padding: 0;				
			}

			li {
				list-style: none;
			}

			> .news-slider > .news-item {
				display: none;

				&:first-child {
					display: block;
				}
			}
		}

		a {
			color: #fff;
		}

		.news-item {
			overflow: hidden;
			// border-width: 0 0 5px 0;
			// border-style: solid;

			li {			
				padding-top: $grid-gutter-width/2;
				// padding-bottom: $grid-gutter-width/2;
			}

			&:first-child {
				padding-top: 0;
			}

			.align-left {
				float: left;
				margin-right: $grid-gutter-width/2;
				margin-bottom: $grid-gutter-width/2;
			}

			h3 {
				font-family: $ff-b;
				font-weight: 600;
				font-size: 20px;
				line-height: 25px;
				position: relative;
				margin-left: $grid-gutter-width/2;
				padding: $grid-gutter-width/6 0 0 $grid-gutter-width/6;
				color: #fff;
				display: inline-block;
			}

			.dot {
				display: inline-block;
				width: 3*$grid-gutter-width/2;
				height: 3*$grid-gutter-width/2;
				position: absolute;
				left: -10px;
				top: -10px;
				z-index: -1;
				@include border-top-radius(100px);
				@include border-bottom-radius(100px);
			}

			.scroll {
				padding-right: $grid-gutter-width;
			}
		}

		.bx-controls {
			text-align: center;
			position: relative;
			bottom: -20px;
		}

		.bx-controls-direction {
			display: none;
		}

		.bx-controls-auto {
			position: relative;
			display: inline-block;
			bottom: 0;
			right: 0;
			top: $grid-gutter-width/6;
			left: 0;

			a {
				display: inline-block;
				width: 20px;
				height: 20px;
				background-repeat: no-repeat;
				background-position: 50% 50%;

				&.active {
					display: none;
				}
			}

			.bx-start {
				background-image: url(../img/play.png);
			}

			.bx-stop {
				background-image: url(../img/pause.png);
			}
		}

		.bx-pager {
			position: relative;
			display: inline-block;
			bottom: inherit;
			width: auto;
			text-align: center;
			bottom: 0;
			right: 0;
			top: 0;
			left: 0;
			padding-top: 0;

			a {
				background-color: #999;

				&.active {
					background-color: #fff;
				}
			}
		}
	}

	// h2 {
	// 	margin: 0;
	// 	padding-bottom: $grid-gutter-width/6;
	// 	color: #fff;
	// 	font-family: $ff-b;
	// 	font-weight: 800;
	// 	font-size: 26px;
	// 	line-height: 31px;
	// 	text-align: right;
	// 	position: absolute;
	// 	top: 50%;
	// 	right: 0;
	// 	padding: 0 $grid-gutter-width/2;
	// 	// background-color: transparentize(#000, 0.6);
	// 	border-top-right-radius: 4px;
	// 	border-bottom-left-radius: 4px;
	// 	z-index: 10;
	// 	@include transform(rotate(90deg) translate(50%, -50%));
	// 	@include transform-origin(100% 0);
	// }

	h2 {
		margin: 0;
		padding-bottom: $grid-gutter-width/6;
		color: #fff;
		font-family: $ff-b;
		font-weight: 800;
		font-size: 26px;
		line-height: 31px;
		text-align: right;
		position: absolute;
		top: -$grid-gutter-width/10;
		left: -$grid-gutter-width/3;
		padding: 0 $grid-gutter-width/2;
		// background-color: transparentize(#000, 0.6);
		border-top-right-radius: 4px;
		border-bottom-left-radius: 4px;
		z-index: 10;
		@include translate(0, -100%);
	}
}
