
.custom-logo-link {

	img {
		max-height: 100%;
		max-width: 100%;
		height: auto;
	}
}

.navigation-top {
	z-index: 100;
	font-size: 14px !important;
	
	.wrap {
		max-width: 100%;
	}
}

.site-description {
	font-size: 30px;
	line-height: 35px;

	span {
		font-weight: 700;
	}
}