
.page-template-tpl-cinema-a-portee-de-main {

	.info-row {
		@include make-row($grid-gutter-width/3);
	}

	.info-bloc {
		@include make-md-column(6, $grid-gutter-width/3);

		&:nth-child(2n+1) {
			clear: both;
		}

		> div {
			padding: $grid-gutter-width/2;
			margin-bottom: $grid-gutter-width/3;
		}

		img {
			@include border-top-radius(2*$grid-gutter-width/3);
			@include border-bottom-radius(2*$grid-gutter-width/3);
		}
	}
}