
/**
 * FONTS
 */
$ff-default:   "Arial" !default;
$ff-b:         "Arial" !default;
// $ff-ubuntu:    "Ubuntu" !default;
// $ff-ubuntu-b:  "Ubuntu-Bold" !default;
// $ff-ubuntu-m:  "Ubuntu-Medium" !default;
// $ff-ubuntu-mi: "Ubuntu-MediumItalic" !default;
// $ff-poly:      "Poly-Regular" !default;
// $ff-poly-i:    "Poly-Italic" !default;
// $ff-viga:      "Viga-Regular" !default;
$ff-itty:      "IttyBittyNotebook" !default;

/**
 * COLORS
 */
$c-red:      #dd3c36 !default;
// $wh-gray: #f6f6f6 !default;